sudo: required

language: generic

services:
- docker

before_install:
# pyopenssl to work around installation bug
- pip install --user construi pyopenssl==19.0.0

script:
- construi test

deploy:
  provider: script
  script: construi release
  skip_cleanup: true
  on:
    tags: true

env:
  global:
    - TWINE_USERNAME=levi.stephen
    - secure: "DEisxLhT/4Fe/ZEaLwVqueNY0MUtGTeyD+NpbX4YQmBsiQQWXPxJAMzv49p2hfBahCxtnW5jGMsIL99YAMfKYdFcLnOMbAGNVP3XVfeGC0h7Ij8iBv/waqpGP8AY1HMHtqddOue51HkJvAM0fIJixkE36zACu1ZzVcWsCVjEY0uP+t9uY/PPyuDbqqoAMRLFQZn5VCSUww6N9dn3E4gP/zV/jrUyIXMxmzzQgJtuTabSEmHT/eB3Ui4c2vh/b/59e032S7s69GzrPRsgKukHjh6baRTi6wYNW7NQE1yDK/iDe+/nfvpV7Tf/t47KxxQE25IXz1Wosz2E51UaMwD87N6wuSisH4OkCw2kLF7X9Z/3lItAuIlLrGIHHB0rwUQsh3cT3fOWOVdU7i06keJszt0hUrnviv2xCrvZFJF0TUqTsOdey1+5/sgVVAdnAyUE9AmbdV49gfEIpNM1MZijKp0lqCaE9no9w4B20bIfXyiP1dM9gUcDt3GMnQ8EUJe9IjyqyG1IQbu8SMrNZ++1eKafPdjzrqbjUiYLho9EbWYv0wDJSApWpm8h4/7d6DeMzrLfcwExKKDXEK7R0HmmvDxju3CxiVJ3Mcqt5wuI/jQcjIRnzGTO8rcCWjg0SvNmUJswdOf0p88AfH7wZdYsd4/XZgT7Ju7+eXzcVY5A2x4="
    - DOCKER_PUSH_USERNAME=lstephen
    - secure: "b/bYNfNC/WO8ERWtou3c+MWIa1xLiRySHETxKiuEYk3TtQw8F4hTW8lwLysNV75ZzDMRj2ucq8a+mSW2JYUxCtkFXnaoT6Y1kBcKda8EXU4GyO3tMwXw+deYfGv8L4ZCCzvdFG69qIavEQuhCVX4KLELzMEdDsKmSyJlYSOv9sr6K+ULrnGuEGyhOsCSrh8Al+B6cE15dqVhpRmK62am1flf5lh8s5nes5CeilVRORFLKmlT93RxqjALqD6xyGDWv48Xn4GMXsYsxUFAJi4cnIOMM2on8PwrDDuXqnZW78wAfHbM8c6badKcKbQvP38ISwYcTqjsYok0p83ey9Lti2+Ydi82hvPe6AETOfBdxair1zpa8OSjy8ksyFBfzTUOwJaIJVZF9HjA+euPBYnfyc52oKZoWO7uhCvZYDVzgMusmCcXSj7DHx9KGDCe6I/D2x7gCM+a57Kj49PvsVh5ZN8pEM+krJKYeorI5ImBH35ZMb2iF+l4nHZw0LUXji9nEibmBXhQAhERbv1fy9VJRHMFPBZkK79PmgxS+dLwHHbMGYW3r724NWuHB1qjoAoxZYTg7XiJhtW7yFpE17vfS+A6wfJPOAIXm6/Ufinfyl4azYn6ydVlBBj9y+lWOt2OUYi7JxgDjQtXO5mO9O4WWBRMeRmjAIDZAjilLUFJbko="

